*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 40px;
  background-color: #151515;
  font-family: "Franklin Gothic Medium", Arial, sans-serif;
}

h1 {
  color: #f3f3f3;
  font-size: 48px;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 1024px;
  margin: 0 auto;
}

.card {
    border: 1px solid #333;
    padding: 20px;  
    background-color: #718711;
    border-radius: 10px;
    min-height: 100px;
    margin: 10px;
}


